* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
 font-family: 'Poppins', sans-serif;
}

.navbar {
  width: 100%;
  height: 30px;
  display: flex;
  padding: 40px 0;
  align-items: center;
  justify-content: space-around;
}

.navbar ul {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.buttonOne {
  position: relative;
  bottom: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: rgba(245, 138, 7, 0.10);
  color: #F58A07;
}

.footer {
  width: 100%;
  height: 430px;
  background: #063255;
  padding: 80px 215px;
  color: white;
  overflow: hidden;
}

.asos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
  background-color: #DCEAF5;

}

.tetx {
  color: #1D3444;
  font-family: Poppins;
  font-size: 54px;
  margin-left: 150px;
  margin-top: 100px;
}

.hoji {
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: #DCEAF5;
}

.tetx2 {
  color: #5B5B5B;
  font-family: Poppins;
  font-size: 18px;
  margin-left: 150px;
  margin-top: 20px;
}

.feruz {
  position: absolute;
  width: 150px;
  height: 45px;
  border-radius: 20px;
  background-color: #F58A07;
  border: none;
  margin-top: 40px;
  margin-left: 150px;
}

.tetx3 {
  position: absolute;
  margin-top: 55px;
  margin-left: 350px;
}

.tetx4 {
  position: absolute;
  color: rgba(57, 65, 73, 0.50);
  font-family: Poppins;
  font-size: 18px;
  margin-top: 130px;

  margin-left: 150px;

}

.logo {
  margin-top: 200px;

  margin-left: 150px;

}

.logo2 {
  margin-left: 50px;
}

.logo3 {
  margin-left: 50px;
}


.ili {

  position: absolute;
  margin-top: -305px;
}


s.footer .buttom {

  padding: 50px 0 0 0;
  display: flex;
  justify-content: space-between;

}

.i {
  color: white;
}

.footer .buttom .buttonright {
  display: flex;
  gap: 43px;
}

.footer .buttom .buttonleft a {
  color: white;
}

.footer .top .box1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 17px;
}

.footer .top .box1 h1 {
  font-size: 30px;
}

.footer .top .box1 img {
  width: 150px;
}

.footer .top .box1 .icon {
  display: flex;
  gap: 15px;
}

.footer .top {
  display: flex;
  gap: 10%;
}

.box2 {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.box4 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputone {
  font-size: 20px;
  padding: 10px 0 10px 20px;
  border: none;
  border-radius: 20px;
}

.right {
  position: relative;
  top: -60px;
  left: -220px;
}


.GlobalQizone {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 90px 0 50px 0;
  gap: 50px;
}

.GlobalQizone .qizright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 35%;
}

.GlobalQizone .qizright h1 {
  font-size: 45px;
}

.GlobalQizone .qizright p {
  color: #5B5B5B;
  line-height: 30px;
}

.GlobalQizone .qizright .qizoneone {
  display: flex;
  align-items: center;
  gap: 20px;
}

.GlobalQizone .qizright .qizoneone .qizname {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.GlobalQizone .qizright .qizoneone .qizname h2 {
  color: #063255;
}

.GlobalQizone .qizright .qizoneone .qizname h4 {
  color: #F58A07;
}

.GlobalQizone .qizleft .qizimg1 {
  width: 500px;
}

.GlobalQizone .qizleft .qizimg2 {
  position: relative;
  top: -80px;
  left: 20px;
}

.kofeqiz {
  display: flex;
  overflow: hidden;
  background-color: #F58A07;
}

.kofeqiz img {
  width: 100%;
  scale: 1.02
}

.kofebtn {
  width: 170px;
  padding: 0 10px;
  color: #F58A07;
  background-color: white;
}

.kofeqiz .koferight {
  width: 50%;
  background-color: red;
}

.kofeqiz .kofeleft {
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  gap: 40px;
  justify-content: center;
  line-height: 46px;
  letter-spacing: -1.44px;
  font-size: 20px;
}

.asil {
  width: 100%;
  height: 300px;
  background: #FFF;
  padding: 0 220px;
}

.xat1 {
  position: absolute;
  color: #1D3444;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  margin-top: 50px;
}

.xat2 {
  position: absolute;
  color: #5B5B5B;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-top: 200px;
}

.rasm {
  width: 100%;
  height: 30vh;
  border-radius: 20px 20px 0 0;

}

.cardtwo {
  display: flex;
  gap: 100px;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 500px;
  padding: 50px 0px;
}

.qolib {
  width: 300px;
  height: 400px;
  background-color:white;
  /* padding: 20px; */
}

.h3 {
  color: #F58A07;
  margin-top: 10px;
  margin-left: 20px;

}

.k1 {
  color: #5B5B5B;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 10px;
  margin-left: 20px;

}
.icon999{
  position: absolute;
  margin-left: 130px;
  margin-top: -17px;

}
.m1{
  margin-top: 20px;
}

.ota {
  width: 100%;
  padding: 100px 0 100px 200px;
}
.yulduz{
  width: 80%;
  background: #EDF7FF;
  padding: 20px;
}
.yulduz .yulduz1{
  display: flex;
  align-items: center;
}
.yulduz1{
  display: flex;
  justify-content: space-between;
}
.btn11{
  margin-right: 10px;
  transition: all 2s;
  color: #638098;
  border: 1px solid #A8BCCC;
  background: #EDF7FF;
}
.btn11:hover{
  background-color:white;
  color: #F58A07;
}
.yulduz2{
  display: flex;
}
.yulduz2 .box21{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 0 120px 0 0;
}
.yulduz2 .box21 h3{
  color: #F58A07;
}